/*-------------------------
header-v4
--------------------------*/
.header-v4 {
  padding: 1.5rem 0;
  .menu-wrap {
    @include flex-position(flex, space-between, center);
  }
  .main-menu {
    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          font-size: 1.6rem;
          font-weight: 400;
          text-transform: capitalize;
          padding: 0 2rem;
          color: var(--color-one);
          transition: $transition;
          &:hover {
            color: var(--primary-color-four);
          }
        }
        &.current-menu-item {
          a {
            color: var(--primary-color-four);
          }
        }
      }
    }
  }
  .header-rgiht {
    .register-btn {
      display: inline-block;
      padding: 1.4rem 2.5rem;
      background-color: var(--primary-color-four);
      border-radius: 0.4rem;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: capitalize;
      color: var(--white);
      transition: $transition;
      &:hover {
        color: var(--white);
        background: var(--hover-color-four);
      }
    }
  }
}
